table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 4px;
}

#linkerkolom {
  float: left;
  width: 25%;
}

#rechterkolom {
  float: right;
  width: 75%;
}

.categorie:hover {
  background-color: black;
  color: white;
}
